/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/clutter-ply.pc
/clutter-ply/Makefile
/clutter-ply/Makefile.in
/clutter-ply/rply/Makefile
/clutter-ply/rply/Makefile.in
/clutter-ply/rply/convert
/clutter-ply/ClutterPly.gir
/clutter-ply/ClutterPly.typelib
/docs/Makefile
/docs/Makefile.in
/docs/reference/clutter-ply-*.txt
!/docs/reference/clutter-ply-sections.txt
/docs/reference/Makefile
/docs/reference/Makefile.in
/docs/reference/clutter-ply.args
/docs/reference/clutter-ply.hierarchy
/docs/reference/clutter-ply.interfaces
/docs/reference/clutter-ply.prerequisites
/docs/reference/clutter-ply.signals
/docs/reference/clutter-ply-docs.sgml
/docs/reference/clutter-ply-scan.c
/docs/reference/clutter-ply.types
/docs/reference/html
/docs/reference/*.stamp
/docs/reference/xml
/gtk-doc.make
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/example/Makefile
/example/Makefile.in
/example/viewer
/install-sh
/libtool
/ltmain.sh
/m4/gtk-doc.m4
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/missing
/stamp-h1

.deps
.libs
*.la
*.lo
*.o
