/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/clutter-ply.pc
/clutter-ply/Makefile
/clutter-ply/Makefile.in
/clutter-ply/rply/Makefile
/clutter-ply/rply/Makefile.in
/clutter-ply/rply/convert
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/example/Makefile
/example/Makefile.in
/example/viewer
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/stamp-h1

.deps
.libs
*.la
*.lo
*.o
