/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/src/Makefile
/src/Makefile.in
/src/gps-globe
/src/gpsg-enum-types.c
/src/gpsg-enum-types.h
/src/stamp-gpsg-enum-types.h

.deps
*.o
